<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
 .container {
 max-width: 500px;
 }
 </style>
</head>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>결과</title>
</head>
<body>
<h1>틀렸습니다! 다운!</h1>

<nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/number-game">다시 하기</a></li>
    </ol>
</nav>

</body>
</html>